.features {
	background-color: $darksilver;
	padding: 30px 0;
	clear: both;
	.owl-theme .owl-controls {
		padding: 20px 0;
		position: relative;
		min-width: 50px;
	}
}

#featuresSlider {
	display: block;
	padding: 30px 0;
	.col {
		width: 90%;
		margin: 0 auto;
		i {
			color: $lightgreen;
			width: 10%;
			line-height: 35px;
			text-align: center;
			font-size: 20px;
			display: inline-block;
			border-radius: 50%;
			border: 1px solid $lightgreen;
			padding: 2px;
		}
		h3 {
			padding-left: 22px;
			color: 	#191919;
			font-size: 22px;
			margin-bottom: 20px;
			display: inline-block;
			font-weight: 400;
		}
		p {
			max-width: 70%;
			font-family: 'Raleway-Light';
			padding-left: 60px;
			color: $mediumgray;
			font-size: 14px;
			line-height: 1.5;
		}
	}
}





