%green-background {
	background-color: $green;  
	a {
		&:after {
		background-color:$white;		
		}
	}	
}

.header-site {
	width: 100%;
	position: fixed;
	top: 0;
	left: 300px;
	z-index: 1800;
	max-height:55px;
	clear:both;
}

.logo {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(16,22,54,0.2);
	padding: 5px 0 0 20px;
	max-height: 50px;
	clear: both;
	overflow: hidden;
	color: $white;
	z-index: 1500;
	a, p{
		display: block;
		float: left;
	}
	a {
		position: relative;
		z-index: 2000;
		&:after {
		content: "";
	    height: 19px;
	    width: 2px;
	    background-color: $green;
	    display: inline-block;
	    padding-top: 3px;
	    margin-left: 15px;
	    margin-right: 15px;
	    margin-top: 10px;
		}
		&:hover {
			cursor: pointer
		}
	}
 	p {
		padding-top: 16px;
		font-size: 14px;
		color: $gray;
	}
	&.green-menu {
		@extend %green-background;
	}
}

.header-menu {
	display: block;
	float: right;
	margin-right: 320px;
	li {
		display: inline-block;
		cursor: pointer;
		margin-right: 15px;
		a {
			padding: 22px 0; 
			display: inline-block;
			letter-spacing: 1px;
			&:hover, &:active {
				padding:19px 0;
				color: $mediumgray;
				border-top: 3px solid #32B0EE;
			}
		}
	}
}



@include media(large) {

	.header-site {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 0;	
		background-color: $green;
		@include prefix(transition, all 0.6s ease, webkit ms o);
		&.slide-down {
			background-color: $green;
			max-height: 100%;
			top: 0;
			bottom: 0;
			height: 100%;
			@include prefix(transition, all 0.6s ease, webkit ms o);
		}
	}

	.header-menu {
		float: none;
		visibility: hidden;
		margin-right: none;
		&.slide-down {
			z-index: 1900;
			visibility: visible;
			text-align: center;
			li {
				display: block;
				a{
					font-size: 16px;
					color: $mediumgray;
					&:hover, &:active {
						color: $white;
						border-top: none;
						padding: 22px 0
					}
				}
			}
		}
	}

	.logo {
		background-color: $green;  
		a {
			&:after {
			background-color:$white;		
			}
		}	
	}

}