$green: #0EB493;
$white: #fff;
$black: #000;
$gray: #595959;
$darksilver: #E8E8E8;
$lightgray: #D3D3D3;
$blue: #000033;
$darkgray: #F7F7F7;
$silver: #C0C0C0;
$lightgreen: #0FCF8C;
$mediumgray: #666666;
$grayfooter: #708090;
