/*--
Author: Neil J. Malpartida.
Author URL: http://www.neiljoshua.com
--*/
* { 
	margin: 0; 
	padding: 0 
}

html { 
	overflow-y: scroll
}

body { 
	background:#ffffff; 
	font-weight: 300;
	font-size: 13px; 
	color: #666666; 
	font-family: 'Raleway', 'Open Sans', Arial, helvetica, sans-serif;
}

ol, ul { 
	list-style: none; 
	margin: 0;
}

ul li { 
	margin: 0; 
	padding: 0;
}	

a, img { 
	outline: none; 
	border:none; 
	color: #fff; 
	text-decoration: none;
}

img { 
	display: block;
}

aside { 
	font-style: italic; 
	font-size: 0.9em;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block}
header, section { 
	width: 100%; 
	margin: 0 auto; 
	overflow:hidden;
}

section h2 { 
	text-align: center; 
	padding-top: 70px; 
	font-size: 28px; 
	color: #0eb493;
}

.inner {
	padding-right: 10%;
	padding-left: 10%;
	margin: 0 auto;
	max-width: 80%;
}

.green {
	color: #0eb493;
}

.col{
	display: block;
	float: left;
}

.mobile{
	display: none;

}

/*- Header section. Includes log + main nav, Main text, and bottom social menu-*/

header{
	position: relative;
}

#home-slider .item img {
    display: block;
    width: 100%;
    height: auto;
}

header .owl-theme .owl-controls {
    width: 10px;
    top: 330px;
    right: 36px;
    position: absolute;
}

nav{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color:rgba(16,22,54,0.2);
	z-index:9999;
	max-height: 60px;
}

nav.green-menu{
    background-color: #0EB493;  
}

.green-menu .brand a:after {
	background-color: #fff;
}

.green-menu {
	color: #fff;
}

/*--Fixed menu--*/

.brand {
    display: inline-block;
    padding: 5px 0;
}
.brand img, .brand a{
	display: block;
	padding-top: 5px;
	float: left;
}

.brand a:after {
	content: "";
    height: 19px;
    width: 2px;
    background-color: #0EB493;
    display: inline-block;
    padding-top: 3px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}

.brand p {
    display: block;
    float: left;
    margin-top: 18px;
}

.brand i{
	display: none;
}

/*--Regular menu, also will change to block to be responsive--*/
.menu {
	position: absolute;
    display: block;
    top: 0;
    right: 10%;
}

.menu li{
	padding-left: 15px;
	display: inline-block;	
	text-align: center;
}
.menu li a{
	padding-top: 24px;
	display: inline-block;
}

.menu li a:hover, .menu li a.active{
	border-top: 2px solid #32B0EE;
	padding-top: 22px;
	/*-transition: color 0.3s ease;
	color: #708090;-*/
}

/*-Lead-text class adds bold,and color properties to elements inside div-*/
.lead-text {
	display: block;
	position: absolute;
    width: 80%;
    padding: 0 10%;
    top: 54%;
    text-align: center;
    color: #fff;
}

.lead-text h1, .lead-text h2 {
	display: block;
	font-weight: 100;
}

.lead-text h1 {
	font-size: 52px;
}

.bold{
	font-weight: 600;
}

.lead-text h2 {
	font-size: 36px;
}

.lead-text p {
	padding-top: 10px;
	display: inline-block;
	font-size: 18px;
	margin: auto;
}

.lead-text p:before {
	content: "";
	height: 2px;
	width: 25px;
	margin-right: 10px;
	margin-bottom: 5px;
	background-color: rgb(14,180,147);	
	display: inline-block;
}

.lead-text p:after {
	content: "";
	height: 2px;
	width: 25px;
	margin-left: 10px;
	margin-bottom: 5px;
	background-color: rgb(14,180,147);	
	display: inline-block;
}


/*- Menu social at the bottom of header section -*/
.social {
	position: absolute;
	display: block;
	width: 145px;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 20px;
}

.social i {
 	color: #708090;
 	font-size: 24px;
}

.social i:hover{
	color: #FFF;
}
.clearfix {
  clear: both;
}

/*- main-title will center H1 and will give green color -*/
.section-title {
	display: block;
	margin: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 25px;
}

.section-title i{
 	font-size: 20px;
 	display: inline-block;
 	color: #D3D3D3;
 	font-weight: 800;
 	margin-bottom: 40px;
 }

 .section-title p{
 	display: block;
 	width: 70%;
 	margin: 0 auto;
 	text-align: center;
 	font-size: 16px;
 	font-weight: 500;
 }

.section-title .icon-line {
	margin-right: 20px;
	margin-left: 20px;
	content: "";
	height: 1px;
	width: 105px;
	margin-bottom: 5px;
	background-color: #D3D3D3;	
	display: inline-block;
}

/*- Feauters section -*/


.features {
	background-color: #E8E8E8 ;
	padding-bottom: 30px;
}

#featuresSlider .item img {
  display: block;
}

#featuresSlider .col {
	padding: 10px;	
}

.features .col i {
	color: #0FCF8C;
	width: 10%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 22px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #0FCF8C;
}

.features .col h3{
	padding-left: 20px;
	color: 	#191919;
	text-align: left;
	font-size: 20px;
	margin-bottom: 20px;	
	display: inline-block;
	font-weight: 400;
}

.features .col p{
	position: relative;
	width: 72%;
	padding-left: 65px;
	padding-bottom: 30px;
	font-size: 13px;
}

/*--Works Section starts here-*/	

.nav{
	text-align: center;
	padding-bottom: 30px;
}

.nav li{
	display: inline-block;
	margin: 5px;
}

.nav li a {
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
	font-weight: 600;
	color: #062033;
	border-radius: 6px;
	opacity: 1;
	-webkit-transition: background-color 0.6s ease; /* Safari 3.1 to 6.0 */
	transition: background-color 0.6s ease;
	background-color: #fff;
}

.nav li a:hover, .nav li a.active {
	background-color: #34B6A8;
	color: #fff;
	border-radius: 6px;
	opacity: 1;
	
}

.brand-box.active-img{
	visibility: visible;
	opacity: 0.3;
	-webkit-transition: opacity 0.6s ease;
	transition: opacity 0.6s ease;
	opacity: 1;
}	

.brand-box.inactive-img{
	visibility: hidden;
	opacity: 0.1;
	width: 0;
	height: 0;
}	

.brand-box{
	float: left; 
	width: 25%;	
	position: relative; 
	height: auto;	 
}

.details {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: auto;
	background: rgba(14,180,147,.9);
	text-align: center;
	color: #fff;	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity:0;
	-webkit-transition: 1.5s ease; /* Safari 3.1 to 6.0 */
	transition: 1.5s ease;
}	

.brand-box img {
	display: block;
	width: 100%;
	height: auto;
}

.brand-box:hover .details {
	visibility: visible;	
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
	opacity: 1;
	cursor: pointer;
}

 .brand-box .details i{
	display: block;
	margin: 0 auto;
	color: #fff;
	font-size: 25px;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px white solid;
	border-radius: 50%;
	margin-top: 18%;
	margin-bottom: 8%;
}

.brand-box .details h3 {
	font-size: 15px;	
}	

.brand-box .details p {
	font-size: 12px;
}

/*-- Col is to place image, h3, and p on a colum. --*/
.team {
	padding-bottom: 30px;
}

.team .col {
	width: 100%;
	text-align: center; 
	padding-bottom: 50px; 
	margin: 0 auto;
}

#teamSlider {
	width: 80%;
    margin: 0 auto;
}

.team .col img{
	width: 90%;
	margin: 0 auto; 
}

.team .col h3 {
	padding-top: 40px;
}

.team .col h3{
	font-size: 18px;
	font-weight: 600;
}

.team .col p {
	width: 160px;
	margin: auto;
	font-size: 15px;
}

/*Fun-facts section starts here*/
.fun-facts{
	background: url( ../src/images/city.jpg);
	color: #FFFFFF;	
	margin: 0 auto;
}

.fun-facts .section-title, .fun-facts .section-title i{
	margin-bottom: 0;
	padding-bottom: 0;
}

.fun-facts .col {
	margin: 0 auto;
 	width: 25%;
  	text-align: center;
  	padding-top: 20px;
  	padding-bottom: 40px;
}

.fun-facts .col i{
	display: block;
	margin: 0 auto;
	font-size: 40px;
	text-align: center;
	width: 120px;
	height: 120px;
	line-height: 120px;
	border: 1px white solid;
	border-radius: 50%;

}

.fun-facts h3 {
	font-weight: 600 ;
	font-size: 58px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.fun-facts p{
	font-weight: 300;
	font-size: 18px;
	padding-bottom: 30px;
}

/*-- Discuss container starts here--*/

#contact .inner{
	position: relative;
	margin-bottom: 50px;
}

.discuss-col{
	display: block;
	float: left;
	margin-bottom: 50px;
}
.discuss-col.left {
	width: 25%;
}

.discuss-col.center {
	position: relative;
	width: 70%;
}

.discuss-col.right {
	width: 5%;
	text-align: right;
}

.discuss-col h3 {
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 10px;
}

form {
	margin: 25px 0;
}

input:focus:-webkit-input-placeholder {
   color: transparent;
}

input:focus:-moz-placeholder {
   color: transparent;
}

input:focus:-moz-placeholder {
   color: transparent;
}

input:focus:-ms-input-placeholder {
   color: transparent;
}

.discuss-col i {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}
	
.discuss-col label {
	display: block;
	float:left;
	margin-bottom: 20px;
	padding-right: 10px;	
}

.discuss-col input {
	display: block;
	border-style: none;
	padding: 5px 0;
	width: 93%;
	margin-bottom: 10px;
	border-bottom: 1px solid #D3D3D3;
	outline: none;
}

.invalid input {
	border-bottom: 1px solid red;
}

.discuss-col label[for=name], .discuss-col label[for=email] {
	width: 47%;
}

.discuss-col label[for=message] {
	width: 100%;
	margin-bottom: 10px;
}

.error {
	display: none;
	padding: 0;
	margin-top: -10px;
	color: red;
	font-size: 13px;
}

.success {
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	left:0;
	bottom: 0;
	background-color: #fff;
	border: 1px solid #D3D3D3;
}

.success p {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.discuss-col .close-success {
	position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 10px 30px;
    font-size: 13px;
    border-radius: 5px;
    background: #0EB493;
    color: #fff;
    border: none;
    outline: none;
}

.discuss-col button {
	display: inline-block;
    background: none;
    outline: none;
    border: none;
    float: right;
}

.discuss-col.right a {
	color: #D3D3D3;
}

.discuss-col.right a:hover {
	color: #34B6A8;
}

.discuss-col button i {
    color: #66cccc;
    margin-right: 10px;
    display: inline-block;
}

/*-- Map container --*/
.map1 {
	height: 215px;
	margin: 0 auto;
	background: #191919 url(../src/images/map.jpg);
}	

/*--Footer begings here--*/

footer {
	padding-top: 80px;
	padding-bottom: 50px;
	background: #34B6A8;
	color: white;
	font-size: 12px;
}	

.col-footer {
	float: left;
	width: 33%;
	margin: 0 10px;
}

.col-footer  img {
	display: block;
	margin-bottom: 43px;
}

.col-footer h2{
	display: block;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 50px;
}

.col-footer p{
	line-height: 2;
}

.col-footer button {
	display: block;
    width: 100%;
    border: 1px white solid;
    margin-bottom: 20px;
    padding: 5px 0;
    border-radius: 5px;
    background-color: #34B6A8;
    outline: none;
}	
	
.col-footer button input[id=subscribe] {
    display: inline-block;
    width: 85%;
    padding: 5px 0;
    border: none;
    background-color: #34B6A8;
    outline: none;
    font-size: 14px;
    color: #fff;
}

.col-footer button i {
	color: #fff;
    outline: none;
}
	
.col-footer .marg {
	float: left;
	margin-right: 15px;
	line-height: 3;
}

.col-footer .marg a {
	text-decoration: none;
}

.col-footer .marg a:hover {
	border-bottom: 3px solid #32B0EE;
	color:#001c32;
}

.col-footer.last {
	width: 25%;
	text-align: right;
	margin: 0;
}

.col-footer.last h2 {
	font-size: 12px;
	font-weight: 300;
	margin-top: 60px;
	margin-bottom: 40px;
}	

.col-footer.last h3 {
	font-size: 12px;
	color: #708090;
	font-weight: 300;
}
.col-footer.last p {
	color: #708090;
	height: 5px;
}	

.col-footer.last i {
	color: #708090;
	font-weight: 400;
}

.dark-color{
	color: #708090;
}

/*--
How to make comments in CSS!!!!
body {background: url(/path/to/image) no-repeat;}
}--*/

@media (max-width: 768px) {

	.inner{
		padding-right: 20px;
		padding-left: 20px;
		margin: 0 auto;
		max-width: 100%;
	}

	.mobile {
	    display: block;
	    float: right;
	    padding-top: 15px;
	    font-size: 25px;
		color:#fff;
	    clear: both;
	}

	.menu {
		visibility: hidden;
		width: 100%;
		right:0;
		opacity: 0;
		position: initial;
		background-color:rgb(14,180,147); 
		transition: opacity 0.6s ease;
	}

	.menu li {
		display: block;
		width: 100%;
		padding: 0;
	}

	.menu li a {
	    display: block;
	    padding: 15px 0;
	}

	.menu li a:hover{
		border: none;
	}

	section h2 {
		padding-top: 25px;
		font-size: 24px;
	}

	.section-title {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.visible {
	    visibility: visible;
	    transition: opacity 0.6s ease;
	    opacity: 1;
	}

	.works .brand-box, .fun-facts .col {
		width: 50%;
	}

	.discuss-col, .discuss-col.right, .discuss-col.center, .discuss-col.left {
		text-align: center;
		position: relative;
		width: 100%;
		float: none;
		padding: 0;
		left: 0;
		margin-bottom: 20px;
	}

	.discuss-col button {
		display: block;
		width: 100%;
	}

	.discuss-col i {
    	display: inline-block;
    	margin-bottom: 30px
    }

    .discuss-col label[for=name], .discuss-col label[for=email], 
	.discuss-col label[for=message],.discuss-col input[type=text] {
		width: 100%;
	}

	.send-message {
		float: none;
		width: 100%;
		text-align: center;
	}

    	
} /* end of tablet */

@media (max-width: 480px){

	#home-slider .item img{
		height: 55vh;
	}

	header .owl-theme .owl-controls {
		top: 130px;
	}

	.lead-text h1 {
		font-size: 35px;
	}

	.lead-text h2 {
		font-size: 30px;
	}

	.lead-text p {
		font-size: 13px;
	}

	.lead-text p:before, .lead-text p:after{
		width: 15px;
	}

	.brand a:after {
		margin-right: 15px;
		margin-left: 15px;
	}

	.lead-text h1, .lead-text h2, .lead-text p {
		color: #666;
		margin-top: 15px;
	}
	.lead-text h1 {
    	font-size: 25px;
	}

	.lead-text h2 {
    	font-size: 20px;
	}

	.lead-text p{
		font-size: 15px;
		padding-bottom: 20px;
	}

	.social , .lead-text {
		position: relative;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.social {
		bottom: 0;
	}

	.social i:hover {
		color: #0EB493;
	}	
	.section-title .icon-line {
		margin-right: 0;
		margin-left: 0;
	}

	.discuss-col button{
		float: none;
		display: block;
		margin:0 auto;
	}

	.works .brand-box, .fun-facts .col, footer .col, footer .col.last {
		width: 100%;
		margin: 0;
	}



	footer{
		overflow: hidden;
	}

	footer .col-footer, footer .col-footer.last{
		width: 100%;
		float: none;
		margin: 0;
		padding-bottom: 20px;
	}

	.col-footer h2, .col-footer h3, .col-footer p{
		text-align: center; 
	}

	.col-footer img {
		margin: 0 auto;
		padding-bottom: 20px;
	}

} /*End of mobile*/

@font-face {
  font-family: 'fontello';
  src: url('../src/font/fontello.eot?51906873');
  src: url('../src/font/fontello.eot?51906873#iefix') format('embedded-opentype'),
       url('../src/font/fontello.woff2?51906873') format('woff2'),
       url('../src/font/fontello.woff?51906873') format('woff'),
       url('../src/font/fontello.ttf?51906873') format('truetype'),
       url('../src/font/fontello.svg?51906873#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?51906873#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-align-center:before { content: '\e800'; } /* '' */
.icon-dribbble:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-feather:before { content: '\e806'; } /* '' */
.icon-megaphone:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-behance:before { content: '\e809'; } /* '' */
.icon-forrst:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-trophy:before { content: '\e80c'; } /* '' */
.icon-rocket:before { content: '\e80d'; } /* '' */
.icon-users:before { content: '\e80e'; } /* '' */
.icon-clock:before { content: '\e80f'; } /* '' */
.icon-mail-1:before { content: '\e810'; } /* '' */
.icon-right:before { content: '\e811'; } /* '' */
.icon-eye:before { content: '\e812'; } /* '' */
.icon-menu:before { content: '\e813'; } /* '' */
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}