$green: #0EB493;
$white: #fff;
$black: #000;
$gray: #595959;
$darksilver: #E8E8E8;
$lightgray: #D3D3D3;
$blue: #000033;
$lightblue: #32B0EE;
$darkgray: #F7F7F7;
$silver: #C0C0C0;
$lightgreen: #0FCF8C;
$mediumgray: #666666;
$grayfooter: #708090;
$whitesmoke: #F5F5F5;
$serif-light: 'RobotoSlab-light';
$serif-regular: 'RobotoSlab-Regular';
$san-light: 'Raleway-Light';
$san-regular: 'Raleway-Regular';
$san-bold: 'Raleway-Bold';
$desktopSize: 1199;
$desktopSmall: 979;
