/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../sass/reset.scss */
a {
  text-decoration: none;
}

/* line 41, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 44, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 54, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="text"],
button,
textarea {
  border: 0;
  background: none;
  outline: 0;
  resize: none;
}

/* line 67, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
button {
  padding: 0;
  cursor: pointer;
}

/* line 1, ../sass/hamburger.scss */
.c-hamburger--rot span::before, .c-hamburger--rot span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

/* line 6, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::before, .c-hamburger--rot.is-active span::after {
  transition-delay: 0s, 0.3s;
}

/* line 10, ../sass/hamburger.scss */
.c-hamburger {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  overflow: hidden;
  margin: 10px;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  z-index: 2000;
}
/* line 29, ../sass/hamburger.scss */
.c-hamburger:focus {
  outline: none;
}
/* line 32, ../sass/hamburger.scss */
.c-hamburger span {
  display: block;
  position: absolute;
  top: 18px;
  left: 7px;
  right: 7px;
  height: 3px;
  border-radius: 20px;
  background: #fff;
}
/* line 41, ../sass/hamburger.scss */
.c-hamburger span::before, .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background-color: #fff;
  content: "";
}
/* line 51, ../sass/hamburger.scss */
.c-hamburger span::before {
  top: -8px;
}
/* line 54, ../sass/hamburger.scss */
.c-hamburger span::after {
  bottom: -8px;
}

/* line 62, ../sass/hamburger.scss */
.c-hamburger--rot span {
  transition: background 0s;
}
/* line 64, ../sass/hamburger.scss */
.c-hamburger--rot span::before {
  transition-property: top, transform;
}
/* line 68, ../sass/hamburger.scss */
.c-hamburger--rot span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
/* line 77, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span {
  background: none;
}
/* line 79, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 85, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 980px) {
  /* line 95, ../sass/hamburger.scss */
  .c-hamburger {
    display: block;
  }
}
/* Roboto_Slab Thin */
@font-face {
  font-family: 'RobotoSlab-Thin';
  font-style: thin;
  font-weight: 100;
  src: url("/src/font/RobotoSlab/RobotoSlab-Thin.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'RobotoSlab-Light';
  font-style: normal;
  font-weight: 300;
  src: url("/src/font/RobotoSlab/RobotoSlab-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'RobotoSlab-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("/src/font/RobotoSlab/RobotoSlab-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Roboto_Slab Bold */
@font-face {
  font-family: 'RobotoSlab-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("/src/font/RobotoSlab/RobotoSlab-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Raleway Light */
@font-face {
  font-family: 'Raleway-Light';
  font-style: normal;
  font-weight: 300;
  src: url("/src/font/Raleway/Raleway-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Raleway Regular */
@font-face {
  font-family: 'Raleway-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("/src/font/Raleway/Raleway-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* ORaleway  Bold */
@font-face {
  font-family: 'Raleway-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("/src/font/Raleway/Raleway-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* line 1, ../sass/header.scss */
.logo.green-menu {
  background-color: #0EB493;
}
/* line 4, ../sass/header.scss */
.logo.green-menu a:after {
  background-color: #fff;
}

/* line 10, ../sass/header.scss */
.header-site {
  width: 100%;
  position: fixed;
  top: 0;
  left: 300px;
  z-index: 1800;
  max-height: 55px;
  clear: both;
}

/* line 20, ../sass/header.scss */
.logo {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(16, 22, 54, 0.2);
  padding: 5px 0 0 20px;
  max-height: 50px;
  clear: both;
  overflow: hidden;
  color: #fff;
  z-index: 1500;
}
/* line 34, ../sass/header.scss */
.logo a, .logo p {
  display: block;
  float: left;
}
/* line 38, ../sass/header.scss */
.logo a {
  position: relative;
  z-index: 2000;
}
/* line 41, ../sass/header.scss */
.logo a:after {
  content: "";
  height: 19px;
  width: 2px;
  background-color: #0EB493;
  display: inline-block;
  padding-top: 3px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}
/* line 52, ../sass/header.scss */
.logo a:hover {
  cursor: pointer;
}
/* line 56, ../sass/header.scss */
.logo p {
  padding-top: 16px;
  font-size: 14px;
  color: #595959;
}

/* line 66, ../sass/header.scss */
#header-menu {
  display: block;
  float: right;
  margin-right: 320px;
}
/* line 70, ../sass/header.scss */
#header-menu li {
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
}
/* line 74, ../sass/header.scss */
#header-menu li a {
  padding: 22px 0;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 30px;
}
@media (min-width: 601px) {
  /* line 74, ../sass/header.scss */
  #header-menu li a {
    font-size: 40px;
  }
}
@media (min-width: 769px) {
  /* line 74, ../sass/header.scss */
  #header-menu li a {
    font-size: 16px;
  }
}
/* line 85, ../sass/header.scss */
#header-menu li a:hover, #header-menu li a:active, #header-menu li a.active {
  padding: 19px 0;
  color: #666666;
  border-top: 3px solid #32B0EE;
}

@media (max-width: 980px) {
  /* line 98, ../sass/header.scss */
  .header-site {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    background-color: #0EB493;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  /* line 105, ../sass/header.scss */
  .header-site.slide-down {
    background-color: #0EB493;
    max-height: 100%;
    height: 100%;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  /* line 113, ../sass/header.scss */
  #header-menu {
    float: none;
    visibility: hidden;
    margin-right: none;
  }
  /* line 117, ../sass/header.scss */
  #header-menu.slide-down {
    z-index: 1900;
    visibility: visible;
    text-align: center;
  }
  /* line 121, ../sass/header.scss */
  #header-menu.slide-down li {
    display: block;
  }
  /* line 123, ../sass/header.scss */
  #header-menu.slide-down li a {
    color: #666666;
  }
  /* line 125, ../sass/header.scss */
  #header-menu.slide-down li a:hover, #header-menu.slide-down li a:active, #header-menu.slide-down li a.active {
    color: #fff;
    border-top: none;
    padding: 22px 0;
  }

  /* line 135, ../sass/header.scss */
  .logo {
    background-color: #0EB493;
  }
  /* line 138, ../sass/header.scss */
  .logo a:after {
    background-color: #fff;
  }
}
/* line 1, ../sass/hero.scss */
.hero-page {
  position: relative;
  width: 100%;
  padding-top: 55px;
}
@media (min-width: 769px) {
  /* line 1, ../sass/hero.scss */
  .hero-page {
    padding-top: 0;
  }
}
/* line 8, ../sass/hero.scss */
.hero-page .owl-theme .owl-controls {
  position: absolute;
  width: 10px;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

/* line 19, ../sass/hero.scss */
.hero-content h1, .hero-content h2, .hero-content p {
  color: #fff;
  font-family: 'RobotoSlab-Thin';
  font-weight: 100;
  text-align: center;
}
/* line 25, ../sass/hero.scss */
.hero-content h1 {
  font-size: 42px;
}
/* line 28, ../sass/hero.scss */
.hero-content h2 {
  padding: 18px 0;
  font-size: 22px;
}
/* line 32, ../sass/hero.scss */
.hero-content span {
  font-weight: 700;
}
/* line 35, ../sass/hero.scss */
.hero-content p {
  margin-bottom: 20px;
}
/* line 37, ../sass/hero.scss */
.hero-content p:before, .hero-content p:after {
  content: "";
  height: 2px;
  width: 25px;
  margin-bottom: 5px;
  background-color: #0eb493;
  display: inline-block;
}
/* line 45, ../sass/hero.scss */
.hero-content p:before {
  margin-right: 5px;
}
/* line 48, ../sass/hero.scss */
.hero-content p:after {
  margin-left: 5px;
}

/* line 54, ../sass/hero.scss */
.green {
  color: #0EB493;
}

/* line 58, ../sass/hero.scss */
.bold {
  font-family: "RobotoSlab-Regular";
}

/* line 63, ../sass/hero.scss */
#home-slider {
  width: 100%;
}
/* line 66, ../sass/hero.scss */
#home-slider .item img {
  display: block;
  width: 100%;
  min-height: -webkit-calc(57.83333vw);
  min-height: -moz-calc(57.83333vw);
  min-height: calc(57.83333vw);
  max-height: -webkit-calc(57.83333vw);
  max-height: -moz-calc(57.83333vw);
  max-height: calc(57.83333vw);
}

/* line 78, ../sass/hero.scss */
.social {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0;
}
/* line 84, ../sass/hero.scss */
.social a {
  font-size: 20px;
  color: #595959;
}
/* line 87, ../sass/hero.scss */
.social a:hover {
  color: #fff;
}

@media (max-width: 600px) {
  /* line 94, ../sass/hero.scss */
  .hero-content {
    margin: 35px auto;
  }
  /* line 96, ../sass/hero.scss */
  .hero-content h1, .hero-content h2, .hero-content p {
    color: #595959;
  }
  /* line 99, ../sass/hero.scss */
  .hero-content h1 {
    font-size: 25px;
  }
  /* line 102, ../sass/hero.scss */
  .hero-content h2 {
    font-size: 20px;
  }
  /* line 105, ../sass/hero.scss */
  .hero-content p {
    font-size: 10px;
    letter-spacing: 1.5px;
  }

  /* line 110, ../sass/hero.scss */
  .social {
    position: relative;
    text-align: center;
    bottom: 0;
    margin-bottom: 20px;
  }
}
/* line 1, ../sass/features.scss */
.features {
  background-color: #E8E8E8;
  padding: 30px 0;
  clear: both;
}
/* line 5, ../sass/features.scss */
.features .owl-theme .owl-controls {
  padding: 20px 0;
  position: relative;
  min-width: 50px;
}

/* line 12, ../sass/features.scss */
#featuresSlider {
  display: block;
  padding: 30px 0;
}
/* line 15, ../sass/features.scss */
#featuresSlider .col {
  width: 90%;
  margin: 0 auto;
}
/* line 18, ../sass/features.scss */
#featuresSlider .col i {
  color: #0FCF8C;
  width: 10%;
  line-height: 35px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #0FCF8C;
  padding: 2px;
}
/* line 29, ../sass/features.scss */
#featuresSlider .col h3 {
  padding-left: 22px;
  color: #191919;
  font-size: 22px;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 400;
}
/* line 37, ../sass/features.scss */
#featuresSlider .col p {
  max-width: 70%;
  font-family: 'Raleway-Light';
  padding-left: 60px;
  color: #666666;
  font-size: 14px;
  line-height: 1.5;
}

/* line 2, ../sass/works.scss */
.works {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

/* line 9, ../sass/works.scss */
.nav {
  max-width: 720px;
  margin: 30px auto;
  text-align: center;
}
/* line 13, ../sass/works.scss */
.nav li {
  display: inline-block;
  margin: 8px 5px;
}
/* line 16, ../sass/works.scss */
.nav li a {
  text-decoration: none;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  color: #666666;
  border-radius: 6px;
  opacity: 1;
  -webkit-transition: background-color 0.7s ease;
  /* Safari 3.1 to 6.0 */
  transition: background-color 0.7s ease;
  background-color: #fff;
}
/* line 27, ../sass/works.scss */
.nav li a:hover, .nav li a:active {
  background-color: #0FCF8C;
  color: #fff;
  border-radius: 6px;
  opacity: 1;
}

/* line 39, ../sass/works.scss */
.details {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  background-color: #0EB493;
  color: #fff;
  -webkit-transition: all 0.8s ease;
  /* Safari 3.1 to 6.0 */
  transition: all 0.8s ease;
  height: auto;
  text-align: center;
}
/* line 54, ../sass/works.scss */
.details i {
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 25px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-top: 18%;
  margin-bottom: 8%;
}
/* line 68, ../sass/works.scss */
.details h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* line 73, ../sass/works.scss */
.details p {
  font-size: 12px;
}

/* line 78, ../sass/works.scss */
.brand-box {
  position: relative;
  float: left;
  width: 25%;
  min-height: -webkit-calc(width/1.6);
  min-height: -moz-calc(width/1.6);
  min-height: calc(width/1.6);
}
/* line 83, ../sass/works.scss */
.brand-box img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 89, ../sass/works.scss */
.brand-box:hover .details {
  cursor: pointer;
  visibility: visible;
  opacity: 0.8;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/* line 99, ../sass/works.scss */
.inactive-img {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

/* line 106, ../sass/works.scss */
.active-img {
  visibility: visible;
  opacity: 0.8;
  -webkit-transition: opacity 0.9s ease;
  transition: opacity 0.9s ease;
  opacity: 1;
}

/* line 2, ../sass/team.scss */
#teamSlider {
  max-width: 980px;
  margin: 30px auto;
  padding: 30px 0;
  text-align: center;
}
/* line 7, ../sass/team.scss */
#teamSlider .item {
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 11, ../sass/team.scss */
#teamSlider .item img {
  width: 90%;
  margin: 0 auto;
}
/* line 17, ../sass/team.scss */
#teamSlider h3 {
  color: #595959;
  margin: 20px 0 10px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}
/* line 24, ../sass/team.scss */
#teamSlider p {
  color: #666666;
  font-size: 12px;
  color: #666666;
  line-height: 1.5;
}

/* line 1, ../sass/facts.scss */
.fun-facts {
  background: url("/src/images/city.jpg");
  color: #fff;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
}
/* line 8, ../sass/facts.scss */
.fun-facts .col {
  width: 25%;
  float: left;
  text-align: center;
  padding: 35px 0;
}
/* line 13, ../sass/facts.scss */
.fun-facts .col i {
  display: block;
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border: 1px white solid;
  border-radius: 50%;
}
/* line 24, ../sass/facts.scss */
.fun-facts .col h3, .fun-facts .col p {
  margin: 30px 0;
}
/* line 27, ../sass/facts.scss */
.fun-facts .col h3 {
  font-size: 45px;
  font-family: 'PlayFair-thin';
}
/* line 31, ../sass/facts.scss */
.fun-facts .col p {
  font-weight: 100;
  letter-spacing: 1px;
  font-family: 'RobotoSlab-thin';
}

/* line 1, ../sass/form.scss */
.form {
  margin: 25px 0;
  text-align: left;
}
/* line 5, ../sass/form.scss */
.form input:focus:-webkit-input-placeholder {
  color: transparent;
}
/* line 9, ../sass/form.scss */
.form input:focus:-moz-placeholder {
  color: transparent;
}
/* line 13, ../sass/form.scss */
.form input:focus:-moz-placeholder {
  color: transparent;
}
/* line 17, ../sass/form.scss */
.form input:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 3, ../sass/contact.scss */
#contact .inner {
  max-width: 980px;
  margin: 50px auto;
  clear: both;
  overflow: hidden;
}

/* line 11, ../sass/contact.scss */
.discuss-col {
  display: block;
  float: left;
}
/* line 14, ../sass/contact.scss */
.discuss-col h3 {
  font-family: 'Raleway-Regular';
}
/* line 17, ../sass/contact.scss */
.discuss-col p {
  font-family: 'Raleway-Light';
}
/* line 21, ../sass/contact.scss */
.discuss-col.left {
  width: 25%;
  padding-left: 10px;
}
/* line 24, ../sass/contact.scss */
.discuss-col.left h3 {
  max-width: 225px;
  font-weight: bold;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 10px;
}
/* line 31, ../sass/contact.scss */
.discuss-col.left p {
  color: #666666;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.5;
}
/* line 39, ../sass/contact.scss */
.discuss-col.center-col {
  width: 65%;
  position: relative;
}
/* line 42, ../sass/contact.scss */
.discuss-col.center-col h3 {
  font-size: 22px;
  color: #595959;
  font-weight: 600;
}
/* line 47, ../sass/contact.scss */
.discuss-col.center-col label {
  display: block;
  float: left;
  font-size: 18px;
  color: #D3D3D3;
  margin-bottom: 20px;
}
/* line 53, ../sass/contact.scss */
.discuss-col.center-col label[for=name], .discuss-col.center-col label[for=email] {
  width: 50%;
}
/* line 56, ../sass/contact.scss */
.discuss-col.center-col label[for=message] {
  width: 100%;
  margin-bottom: 10px;
}
/* line 59, ../sass/contact.scss */
.discuss-col.center-col label[for=message] input {
  width: 95%;
}
/* line 64, ../sass/contact.scss */
.discuss-col.center-col input {
  display: block;
  width: 90%;
  padding: 10px 0;
  margin-bottom: 10px;
  color: #595959;
  font-size: 18px;
  border-style: none;
  border-bottom: 1px solid #D3D3D3;
  outline: none;
}
/* line 77, ../sass/contact.scss */
.discuss-col.right {
  width: 5%;
  text-align: center;
}
/* line 80, ../sass/contact.scss */
.discuss-col.right i {
  color: #D3D3D3;
  display: block;
  font-size: 20px;
  margin: 10px 0;
}
/* line 85, ../sass/contact.scss */
.discuss-col.right i:hover {
  color: #0EB493;
}

/* line 93, ../sass/contact.scss */
.submit {
  display: block;
  float: right;
  max-width: 200;
  background: none;
  outline: none;
  border: none;
  color: #666666;
  font-weight: 100;
  font-size: 18px;
  margin: 30px auto;
}
@media (min-width: 769px) {
  /* line 93, ../sass/contact.scss */
  .submit {
    margin: 10px;
  }
}
/* line 107, ../sass/contact.scss */
.submit i {
  color: #0EB493;
  margin-right: 10px;
  display: inline-block;
  font-size: 18px;
}

/* line 115, ../sass/contact.scss */
.success {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #D3D3D3;
}
/* line 125, ../sass/contact.scss */
.success p {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 132, ../sass/contact.scss */
.close-success {
  position: absolute;
  width: 150px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 10px 30px;
  font-size: 13px;
  border-radius: 5px;
  background: #0EB493;
  color: #fff;
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  /* line 149, ../sass/contact.scss */
  .discuss-col h3, .discuss-col p {
    text-align: center;
  }
  /* line 153, ../sass/contact.scss */
  .discuss-col.left h3 {
    max-width: 100%;
  }
  /* line 158, ../sass/contact.scss */
  .discuss-col.center-col label {
    float: none;
  }
  /* line 160, ../sass/contact.scss */
  .discuss-col.center-col label[for=name], .discuss-col.center-col label[for=email], .discuss-col.center-col label[for=message] {
    width: 100%;
  }
  /* line 162, ../sass/contact.scss */
  .discuss-col.center-col label[for=name] input, .discuss-col.center-col label[for=email] input, .discuss-col.center-col label[for=message] input {
    width: 100%;
  }
  /* line 169, ../sass/contact.scss */
  .discuss-col.right i {
    display: inline-block;
  }
  /* line 173, ../sass/contact.scss */
  .discuss-col.left, .discuss-col.center-col, .discuss-col.right {
    float: none;
    width: 100%;
  }
}
/* line 1, ../sass/map.scss */
.map1 {
  background: #191919 url("/src/images/map.jpg");
  min-height: 200px;
  max-height: 200px;
  border-top: 1px #000 solid;
  border-bottom: 4px #000 solid;
}

/* line 1, ../sass/footer.scss */
footer {
  background: #0EB493;
  padding: 60px 0 40px;
  clear: both;
  color: #fff;
  overflow: hidden;
  font-family: 'Raleway-Light';
}
/* line 8, ../sass/footer.scss */
footer img {
  margin-top: 10px;
  margin-bottom: 30px;
}
/* line 12, ../sass/footer.scss */
footer h3 {
  font-size: 20px;
  margin: 20px 0 25px;
  text-align: left;
}
/* line 17, ../sass/footer.scss */
footer p {
  line-height: 2;
  max-width: 220px;
}
/* line 21, ../sass/footer.scss */
footer button {
  position: relative;
  margin: 10px auto;
  padding: 10px 2px;
  background-color: #0EB493;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 90%;
}
/* line 30, ../sass/footer.scss */
footer input {
  width: 85%;
  color: #fff;
}
/* line 34, ../sass/footer.scss */
footer .icon-right {
  width: 8%;
  color: #fff;
}
/* line 38, ../sass/footer.scss */
footer h4 {
  margin: 75px 0 30px;
}
/* line 42, ../sass/footer.scss */
footer .icon-heart-empty, footer span {
  color: #708090;
}

/* line 48, ../sass/footer.scss */
.col-footer {
  display: block;
  width: 32%;
  float: left;
  padding-left: 20px;
}
/* line 53, ../sass/footer.scss */
.col-footer.last {
  padding-left: 0;
  width: 30%;
}
/* line 56, ../sass/footer.scss */
.col-footer.last p {
  color: #708090;
}

@media (max-width: 768px) {
  /* line 64, ../sass/footer.scss */
  .col-footer {
    padding-left: 0;
  }
}
@media (max-width: 600px) {
  /* line 72, ../sass/footer.scss */
  .col-footer {
    width: 100%;
  }
  /* line 74, ../sass/footer.scss */
  .col-footer.last {
    width: 100%;
  }

  /* line 79, ../sass/footer.scss */
  footer h3, footer h4, footer p {
    max-width: 100%;
    text-align: center;
  }
  /* line 83, ../sass/footer.scss */
  footer h3 {
    margin-top: 30px;
  }
  /* line 86, ../sass/footer.scss */
  footer img {
    display: block;
    width: 20%;
    margin: 10px auto 30px;
  }
  /* line 91, ../sass/footer.scss */
  footer button {
    display: block;
    width: 80%;
  }
}
/* line 17, ../sass/styles.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 22, ../sass/styles.scss */
body {
  position: relative;
}

/* line 26, ../sass/styles.scss */
h1, h2, a {
  color: #0EB493;
  font-family: 'RobotoSlab-light', Arial, san-serif;
}

/* line 31, ../sass/styles.scss */
a, p {
  color: #fff;
  font-size: 13px;
}

/* line 36, ../sass/styles.scss */
p {
  font-family: 'Raleway-Light';
}

/* line 41, ../sass/styles.scss */
div h2 {
  font-family: 'Raleway-Bold';
  text-align: center;
  padding: 60px 0 0;
  font-size: 20px;
}

/* line 49, ../sass/styles.scss */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

/* line 56, ../sass/styles.scss */
.inner {
  max-width: 980px;
  margin: 0 auto;
}

/* line 61, ../sass/styles.scss */
.heart-icon {
  display: block;
  margin: 20px auto 30px;
  text-align: center;
}
/* line 65, ../sass/styles.scss */
.heart-icon i {
  font-size: 16px;
  font-family: 'RobotoSlab-Regular';
  display: inline-block;
  color: #D3D3D3;
  font-weight: 600;
  margin: 0 0 20px;
}
/* line 73, ../sass/styles.scss */
.heart-icon span {
  margin-right: 20px;
  margin-left: 20px;
  content: "";
  height: 1px;
  width: 100px;
  margin-bottom: 5px;
  background-color: #D3D3D3;
  display: inline-block;
}
/* line 83, ../sass/styles.scss */
.heart-icon p {
  display: block;
  color: #595959;
  max-width: 750px;
  margin: 25px auto;
  text-align: center;
  font-size: 18px;
  font-family: 'Raleway-Regular';
  font-weight: 600;
  line-height: 1.5;
}

@media (max-width: 768px) {
  /* line 99, ../sass/styles.scss */
  .heart-icon p {
    margin: 25px auto;
    max-width: 60%;
  }
}
