* { margin: 0; padding: 0 }
html { overflow-y: scroll}
body { background:#ffffff; font-weight: 300;font-size: 13px; color: #666666; font-family: 'Raleway', 'Open Sans', Arial, helvetica, sans-serif}
ol, ul { list-style: none; margin: 0}
ul li { margin: 0; padding: 0}	
a, img { outline: none; border:none; color: #fff; text-decoration: none}
p { margin: 0 0 10px; line-height: 1.4em}
img { display: block}
aside { font-style: italic; font-size: 0.9em}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block}
header, section { width: 100%; margin: 0 auto; overflow:hidden}
section h1 { text-align: center; padding-top: 70px; font-size: 28px; color: #0eb493}

.inner {
	padding-right: 10%;
	padding-left: 10%;
	margin: 0 auto;
	max-width: 80%;
}

.green {
	color: #0eb493;
}

.col{
	display: block;
	float: left;
}

.mobile{
	display: none;

}

/*- Header section. Includes log + main nav, Main text, and bottom social menu-*/

header{
	position: relative;
}

#home-slider .item img {
    display: block;
    width: 100%;
    height: 840px;
}

header .owl-theme .owl-controls {
    width: 10px;
    top: 330px;
    right: 36px;
    position: absolute;
}

nav{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color:rgba(16,22,54,0.2);
	z-index:9999;
	max-height: 60px;
}

nav.green-menu{
    background-color:rgb(14,180,147);  
}

.green-menu .brand a:after {
	background-color: #fff;
}

.green-menu {
	color: #fff;
}

/*--Fixed menu--*/

.brand {
    display: inline-block;
    padding: 5px 0;
}
.brand img, .brand a{
	display: block;
	padding-top: 5px;
	float: left;
}

.brand a:after {
	content: "";
    height: 19px;
    width: 2px;
    background-color: rgb(14,180,147);
    display: inline-block;
    padding-top: 3px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}

.brand p {
    display: block;
    float: left;
    margin-top: 18px;
}

.brand i{
	display: none;
}

/*--Regular menu, also will change to block to be responsive--*/
.menu {
	position: absolute;
    display: block;
    top: 0;
    right: 10%;
}

.menu li{
	padding-left: 15px;
	display: inline-block;	
	text-align: center;
}
.menu li a{
	padding-top: 24px;
	display: inline-block;
}

.menu li a:hover, .menu li a.active{
	border-top: 2px solid #32B0EE;
	padding-top: 22px;
	transition: color .30s ease-in-out;
	color: #708090;
}

/*-Main-text class adds bold,and color properties to elements inside div-*/
.main-text {
	display: block;
	position: absolute;
    width: 80%;
    padding: 0 10%;
    top: 54%;
    text-align: center;
    color: #fff;
}

.main-text h1, .main-text h2 {
	display: block;
	font-weight: 100;
}

.main-text h1 {
	font-size: 52px;
}

.bold{
	font-weight: 600;
}

.main-text h2 {
	font-size: 36px;
}

.main-text p {
	padding-top: 10px;
	display: inline-block;
	font-size: 18px;
	margin: auto;
}

.main-text p:before {
	content: "";
	height: 2px;
	width: 25px;
	margin-right: 10px;
	margin-bottom: 5px;
	background-color: rgb(14,180,147);	
	display: inline-block;
}

.main-text p:after {
	content: "";
	height: 2px;
	width: 25px;
	margin-left: 10px;
	margin-bottom: 5px;
	background-color: rgb(14,180,147);	
	display: inline-block;
}


/*- Menu social at the bottom of header section -*/
.social {
	position: absolute;
	display: block;
	left: 48%;
	margin-left: -40px;
	bottom: 45px;
}

.social i {
 	color: #708090;
 	font-size: 22px;
}

.social i:hover{
	color: #FFF;
}
.clearfix {
  clear: both;
}

/*- main-title will center H1 and will give green color -*/
.section-title {
	display: block;
	margin: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}

.section-title i{
 	font-size: 20px;
 	display: inline-block;
 	color: #D3D3D3;
 	font-weight: 800;
 	margin-bottom: 40px;
 }

 .section-title p{
 	display: block;
 	width: 70%;
 	margin: 0 auto;
 	text-align: center;
 	font-size: 16px;
 	font-weight: 500;
 }

.section-title .icon-line {
	margin-right: 20px;
	margin-left: 20px;
	content: "";
	height: 1px;
	width: 105px;
	margin-bottom: 5px;
	background-color: #D3D3D3;	
	display: inline-block;
}

/*- Feauters section -*/


.features {
	background-color: #E8E8E8 ;
	padding-bottom: 30px;
}

#featuresSlider .item img{
  display: block;
}

#featuresSlider {
	width: 80%;
	margin: 0 10%;
}

#featuresSlider .col {
	padding: 1%;	
}

.features .col i {
	color: #0FCF8C;
	width: 10%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 22px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #0FCF8C;
}

.features .col h2{
	padding-left: 20px;
	color: 	#191919;
	text-align: left;
	font-size: 20px;
	margin-bottom: 20px;	
	display: inline-block;
	font-weight: 400;
}

.features .col p{
	position: relative;
	width: 72%;
	padding-left: 65px;
	padding-bottom: 30px;
	font-size: 13px;
}

/*--Works Section starts here-*/	

.works .nav{
	text-align: center;
	padding-bottom: 30px;
}

.works .nav li{
	display: inline-block;
	margin: 5px;
}

.works .nav li a {
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
	font-weight: 600;
	color: #062033;
	border-radius: 6px;
	opacity: 1;
	~webkit-transition: background-color 0.6s ease; /* Safari 3.1 to 6.0 */
	transition: background-color 0.6s ease;
	background-color: #fff;
}

.works .nav li a:hover, .works .nav li a.active{
	background-color: #34B6A8;
	color: #fff;
	border-radius: 6px;
	opacity: 1;
}

.works .brand-box.active-img{
	visibility: visible;
	opacity: 0.3;
	~webkit-transition: opacity 1.3s ease 0s;
	transition: opacity 1.3s ease 0s;
	opacity: 1.5;
}	

.works .brand-box.inactive-img{
	visibility: hidden;
	opacity: 0.1;
	width: 0;
}	

.works .brand-box{
	float: left; 
	width: 25%;	
	position: relative; 
	height: auto;	 
}

.works .details {
	visibility: hidden;
	position: absolute;
	text-align: center;
	width: 100%;
	height: auto;
	background: rgba(14,180,147,.9);
	color: #fff;	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity:0;
	~webkit-transition: ease-in-out, opacity 1.3s ,ease-in-out; /* Safari 3.1 to 6.0 */
	transition: opacity 1.3s;
}	

.works .brand-box img {
	display: block;
	width: 100%;
	height: auto; 	
}

.works .brand-box:hover .details {
	visibility: visible;	
	opacity: 1;
	~webkit-transition-delay:0s;
	transition-delay:0s;
}

 .works .brand-box .details i{
	display: block;
	margin: 0 auto;
	color: #fff;
	font-size: 25px;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px white solid;
	border-radius: 50%;
	margin-top: 18%;
	margin-bottom: 8%;
}

.works .brand-box .details h2 {
	font-size: 15px;	
}	

.works .brand-box .details p {
	font-size: 12px;
}

/*-- Col is to place image, h3, and p on a colum. --*/
.team {
	padding-bottom: 30px;
}

.team .col {
	width: 100%;
	text-align: center; 
	padding-bottom: 50px; 
	margin: 0 auto;
}

#teamSlider {
	width: 80%;
    margin: 0 auto;
}

.team .col img{
	width: 90%;
	margin: 0 auto; 
}

.team .col h1{
	padding-top: 20px;
	font-size: 18px;
	font-weight: 600;
}

.team .col p {
	width: 160px;
	margin: auto;
	font-size: 13px;
}

/*Fun-facts section starts here*/
.fun-facts{
	background: url( ../images/city.png);
	color: #FFFFFF;	
	margin: 0 auto;
}

.fun-facts .section-title, .fun-facts .section-title i{
	margin-bottom: 0;
	padding-bottom: 0;
}

.fun-facts .col {
	margin: 0 auto;
 	width: 25%;
  	text-align: center;
  	padding-top: 20px;
  	padding-bottom: 40px;
}

.fun-facts .col i{
	display: block;
	margin: 0 auto;
	font-size: 40px;
	text-align: center;
	width: 120px;
	height: 120px;
	line-height: 120px;
	border: 1px white solid;
	border-radius: 50%;

}

.fun-facts h2 {
	font-weight: 600 ;
	font-size: 58px;
	padding-top: 15px;
}

.fun-facts p{
	font-weight: 300;
	font-size: 18px;
	padding-bottom: 30px;
}

/*-- Discuss container starts here--*/

.discuss{
	margin-bottom: 50px;
}

.discuss .col {
	width: auto;
  	float: left;
  	padding-right: 5px;
  	padding-left: 5px;
}

.discuss .col:last-child{
	padding-right: 0;
	display: block;
	font-size: 20px;
}

.discuss  .col h3 {
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-right: 20px;
	font-weight: 600;
}

.discuss .col h2{
	padding-top: 5px;
	font-weight: 800;
	font-size: 16px;
	margin-bottom: 20px;
}

.discuss .col p {
	margin-top: 5px;
	font-size: 12px;
	font-weight: 300;
}

.discuss .col i{
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}

.discuss .col:nth-child(2) {
	width: 61.5%;
}
	
.discuss .col label {
	display: block;
	float:left;
	margin-bottom: 20px;
	padding-right: 10px;	
}

.discuss .col input{
	display: block;
}

.discuss .col label[for=name], .discuss .col label[for=email]{
	width: 47%;
}

.discuss .col label[for=message]{
	width: 100%;
	margin-bottom: 10px;
}

.discuss .col input[type=text] {
	border-style: none;
	padding: 5px 0;
	width: 93%;
	font-size: 13px;
	margin-bottom: 10px;
	border-bottom: 1px solid #D3D3D3;
	outline: none;
}

.discuss .col input[id=message] {
	border-style: none;
	margin-bottom: 10px;
	border-bottom: 1px solid #D3D3D3;
}

.discuss .col .greenbox {
	float: right;
	width: 135px;
	color: #34B6A8;
	font-weight: 400;	
	clear: both;
}

.discuss .col a {
	color: #D3D3D3;
	display: block;
	margin-bottom: 0;
}

.discuss .col .greenbox i{
	display: inline-block;
	width: 20px;
	margin-right:10px;
	padding: 0;
	font-size: 20px;
}

.discuss .col:last-child a:hover{
	color: #34B6A8;
}

.discuss .col input[type=submit] {
	display: inline-block;
	border-style: none;
	background-color: inherit;
	font-size: 13px;
}

/*-- Map container --*/
.map1 {
	height: 220px;
	margin: 0 auto;
	background: #191919 url(../images/map1.png);

}	

/*--Footer begings here--*/

footer {
	padding-top: 40px;
	padding-bottom: 50px;
	background: #34B6A8;
	color: white;
	font-size: 12px;
}	

footer .col {
	width: 22.5%;
	margin-right: 15px;
}

footer .col  img {
	display: block;
	margin-bottom: 43px;
}

footer .col h1{
	display: block;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 50px;
}

footer .col p{
	line-height: 2;
}

footer .col button {
	display: block;
    width: 100%;
    border: 2px white solid;
    margin-bottom: 20px;
    padding: 5px 0;
    border-radius: 4px;
    background-color: #34B6A8;
    outline: none;
}	
	
footer .col button input[id=subscribe] {
    display: inline-block;
    width: 85%;
    padding: 5px 0;
    border: none;
    background-color: #34B6A8;
    outline: none;
    font-size: 14px;
    color: #fff;
}

footer .col button i {
	color: #fff;
    outline: none;
}
	
footer .col .marg{
	float: left;
	margin-right: 15px;
	line-height: 3;
}

footer .col .marg a {
	text-decoration: none;
}

footer .col .marg a:hover {
	border-bottom: 3px solid #32B0EE;
	color:#001c32;
}

footer  .col:nth-child(3) {
	width: 24%;
}

footer .last{
	margin-right: 0;
}
footer .last h1 {
	font-size: 12px;
	font-weight: 300;
	margin-top: 80px;
}	

footer .last p {
	padding-top: 35px;
	color: #708090;
	height: 5px;
}	

footer .last i{
	color: #708090;
	font-weight: 400;
}

.dark-color{
	color: #708090;
}

/*--
How to make comments in CSS!!!!
body {background: url(/path/to/image) no-repeat;}
}--*/